@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin:0px
}
body{

    
}
header{
    background-color:black;
    text-align:center;
    
}
header > h1{
    color:white;
    font-family:'Passion one';
    font-size:10vw;
    padding:59.5px;
    padding-bottom:3px;
}
header > p{
    color:white;
    padding-bottom:38.5px;
    font-size:15px;
    font-family:sans-serif;
    margin:0;
    transform:translateY(-20px)
}
header > p > a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
header > p > a:hover{
    text-decoration:underline;
}
p{
    font-family:Sriracha;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-left:30px;
    padding-top:30px;
    font-size:3.5vw;
    margin-top:50px;
    margin-bottom:50px
}
.imagem{
    color:white;
    background-color:rgba(0, 0, 0, 0.349);
    display:block;
    padding:5px
}
#imagem1{
    background-image:url(../imagens/joaninha.jpg);
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    padding:10px 50.8% 10px 30px;
    box-shadow:inset 1px 1px 30px black
}
#imagem2{
    background-image:url(https://regrasparatcc.com.br/wp-content/uploads/2019/03/quantas-paginas-deve-ter-um-tcc.jpeg);
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    padding:10px 50% 10px 30px;
    box-shadow:inset 1px 1px 30px black
}
footer{
    background-color:black;
    
}
footer > p{
    font-family:sans-serif;
    text-align:center;
    color:white;
    padding:10px;
    margin-bottom:0;
    font-size:15px
}



