@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte-padrao:Verdana, Geneva, Tahoma, sans-serif;
    --fonte-titulo:'Passion one', cursive;
    --fonte-poema:'Sriracha', cursive;
}
*{
    margin:0px
}
*::webkit-scrollbar{
    display:none
}
    
header{
    background-color:black;
    text-align:center;
}
header > h1{
    color:white;
    font-family:'Passion one';
    font-size:10vw;
    padding:59.5px;
    padding-bottom:3px;
    font-variant: small-caps;
}
header > p{
    color:white;
    padding-bottom:38.5px;
    font-size:15px;
    font-family:sans-serif;
    margin:0;
    transform:translateY(-20px)
}
header > p > a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}
header > p > a:hover{
    text-decoration:underline;
}
p{
    font-family:Sriracha;
    display: block;
    padding-left:30px;
    padding-top:30px;
    font-size:3.5vw;
    margin-top:50px;
    margin-bottom:50px
}
.textosobimagem{
    color:white;
    background-color:rgba(0, 0, 0, 0.349);
    display:block;
    padding:5px;
    text-shadow:1px 1px 0px black
}
.imagensdefundo{
    background-position:center center;
    background-size: cover;
    background-attachment: fixed;
    padding:10px 49% 10px 30px;
    box-shadow:inset 1px 1px 30px black;
}
#imagem1{
    background-image:url(../imagens/joaninha.jpg);
}
#imagem2{
    background-image:url(https://regrasparatcc.com.br/wp-content/uploads/2019/03/quantas-paginas-deve-ter-um-tcc.jpeg);
}
footer{
    background-color:black;
}
footer > p{
    font-family:sans-serif;
    text-align:center;
    color:white;
    padding:10px;
    margin-bottom:0;
    font-size:15px
}



